.container {
  height: 800px;
  margin: 100px auto;
  width: 800px;
}

.cell {
  
  background-size: contain;
  border: 1px solid white;
  box-sizing: border-box;
  float: left;
  height: 16px;
  width: 16px;
}

.board {
	background-color: #2980b9;
}

.active {
  background-color: #e67e22;
}

.food {
	background-color: red;
}

.active-head {
  background-color: #e74c3c;
}